@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    font-family: 'Raleway' sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Raleway', sans-serif;
    min-width: 320px;
    display: block;
    max-width: 1400px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:focus {
    color: #0065FC;
}

a:hover {
    color: #0065FC;
}

/* Ici ce trouve le css pour mon header */

/* Menu de navigation */

header {
    display: flex;
    justify-content: space-between;
}

ul.menunav {
    display: flex;
    font-weight: 500;
}

ul.menunav:hover {
    font-weight: 500;
}

li.nav_hebergement {
    width: 200px;
    text-align: center;
    padding-top: 40px;
}

li.nav_activites {
    width: 200px;
    text-align: center;
    padding-top: 40px;
}

li.nav_hebergement:hover, 
li.nav_activites:hover, 
li.nav_hebergement:focus, 
li.nav_activites:focus, 
li.nav_hebergement:active, 
li.nav_activites:active {
    border-top: 3px solid #0065FC;;
    color: #0065FC;  
}

/* CSS pour le logo */
.logo {
    width: 61.09px;
    height: 19px;
}

.mon_logo {
    padding-top: 40px;
    padding-left: 55px;
}



/* Ici c'est le css pour la partie recherche */

/* La section principale */

.section_recherche {
    margin-top: 126px;
    margin-left: 55px;
}

/* Pour la partie titre h1 et le paragraphe p */

.section_recherche h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    width: 580px;
    height: 26px;
}

.titre_section_recherche {
    margin: 15px 0 13px;
}

.section_texte p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    width: 296px;

}

/* Boutton pour la version mobile */
.srch_btn_phn {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 15px;
    padding: 15px 16px;
    gap: 10px;
    width: 49px;
    height: 49px;
    top: 0px;
    left: 282px;
    position: absolute;
}

/* Input Recherche */
.groupe_form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: absolute;
}

/* Pour l'icone de position */

.localisation {
    background-color:#D9D9D9;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    right: 84.94%;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

/* Pour la zone de texte */

.inp_recherche {
    background: #FFFFFF;
    padding: 19px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    border-left:none;
    border-right: none;
    box-sizing: border-box;
    line-height: 21px;
    width: 332px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
   
}


::placeholder {
    font-family: 'Raleway';
    color: black;
    width: 147px;
    height: 21px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    left: 20.18%;
    top: 28.57%;
    right: 35.54%;
    bottom: 28.57%;
    box-sizing: border-box;
}

/* Pour le boutton de recherche */
#btn_rsh_desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    width: 132px;
    height: 49px;
    left: 280px;
    position: absolute;
    
}

.text_rch {
    color: #FFFFFF;
    font-size: 18px;
    width: 100px;
    height: 21px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    flex-grow: 0;
    order: 1;
    left: 16px;
    top: 14px;
}

/* Fin pour la section recherche */

/* Le css pour la partie filtre */

.rch_filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    margin-top: 100px;
    margin-left: 8px;
    width: 914px;
}

.titres_flitres h2{
    
    flex-direction: row;
    text-align: center;
    font-size: 18px;
    width: 54px;
    height: 21px;
}
/* Filtre économique */
.eco_icon {
    color: #0065FC;
}

.rch_eco {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 175px;
    height: 50px;
    padding: 4px 20px 4px 20px;
}

.text_eco {
    width: 103px;
    font-size: 17px;
    font-weight: 700;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

/* Filtre familial */
.fam_icon {
    color: #0065FC;
}

.rch_fam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
    width: 136px;
    height: 50px;
    padding: 4px 20px 4px 20px;
}

.text_fam {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    width: 64px;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

/* Filtre romantique */
.rom_icon {
    color: #0065FC;
}

.rch_rom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
    box-sizing: border-box;
    width: 172px;
    height: 50px;
    padding: 4px 20px 4px 20px;
}

.text_rom {
    width: 100px;
    height: 20px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

/* Filtre animaux autorisés */
.animaux_icon {
    color: #0065FC;
}

.rch_animaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 226px;
    height: 50px;
    box-sizing: border-box;
    padding: 4px 20px 4px 20px;
}

.text_animaux {
    font-weight: 700;
    width: 226px;
    height: 20px;
    line-height: 21px;
    font-size: 17px;
    padding: 10px 0px 10px 10px;
    gap: 10px;

}

/* Effet au survol des filtres */

.liens_filtres:hover {
    background-color: #deebff;
    border-radius: 25px;
    color: #000000;
}

/* Fin partie filtre */ 

/* Début partie résultats filtres */
.result_icon {
    display: flex;
    flex-direction: row;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    align-items: center;
    justify-content: center;
}

.result_icon i {
    color: #0065FC;
    width: 5px;
    height: 14.04px;
}

.resultatrch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* CSS pour la partie hébergement à Marseille */

#hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1340px;
}

.hebergement {
    background: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    height: 625px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.titre_hebergementMarseille h2 {
    width: 279px;
    line-height: 26px;
    margin-left: 40px;
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
}

/* Partie infos hébergement Marseille */

.infos_hebergementMarseille {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.titre_h3 {
    margin-left: 10px;
}

.textprix {
    margin-left: 10px;
}

.note_hebergement {
    margin-left: 10px;
}

/* Première ligne */
.premiereligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 30px;
}

.ligne_1 {
    background: #ffffff;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    box-sizing: border-box;
}

/* Deuxièeme ligne */
.deuxiemeligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 35px;
    box-sizing: border-box;
}

.ligne_2 {
    background: #ffffff;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    box-sizing: border-box;
}
/* CSS card de l'hébergement */
.cardimg img {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
}

/* Afficher plus */

#afficher_plus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.plusheberg {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    width: 107px;
    margin-left: 30px;
    padding: auto;
   
}


/* Fin pour la partie hébergement à Marseille */

/* CSS pour les hébergement les plus populaires */

.plus_populaires {
    width: 420px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 42px;
    flex-direction: column;
    display: flex;
}

.titre_pp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titre_texte {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 41px;
    width: 205px;

}

.titre_pp i {
    color: #0065FC;
    width: 18px;
    height: 15px;
    margin-top: 46px;
}

.container_pp {
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background: #ffffff;
    margin-top: 15px;
    margin-left: 37px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
    margin-top: -25px;
}

.titre_infos {
    width: 169px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.infos p {
    width: 169px;
    height: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.etoiles {
    height: 12px;
    margin-top: 20px;
}

.etoiles_bleu {
    color: #0065FC;
}

.etoiles_gris {
    color: #F2F2F2;
}

.etoiles i {
    height: 12px;
    width: 12px;
}

.carte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: content-box;
}


.cardimg_pp img {
    width: 137px;
    height: 144px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    justify-content: center;
}
/* Fin pour la partie hébergements populaires */

/* CSS pour la partie activités */
#sectionactivites {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 60px;
    margin-top: 55px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.groupe_activites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 21px;
    box-sizing: border-box;
}

.activitescard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px 20px 20px 20px;


}

/* Pour le titre h2 de la partie activités */

.titre_activites {
    display: flex;
    flex-direction: row;
}

.titre_activites h2 {
    font-size: 22px;
    width: 212px;
    height: 30.02px;
    font-weight: 700;
    margin-left: 10px;
}

/* Partie description pour le h3 */

.description h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 247px;
    height: 15px;
    padding-left: 20px;
    bottom: 20.51px;
    line-height: 19px;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    height: 56px;
    width: 302px;
    box-sizing: border-box;
}

/* CSS pour les images */

.activitescard img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 445px;
    object-fit: cover;
    box-sizing: border-box;
}
/* Fin pour la partie activités */

/* Le css pour la partie footer */


ul{
    list-style-type: none;
}

.footer a:hover {
    color: black;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 250px;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding: 40px ;
    width: 1339px;
    height: 225px;
    margin-bottom: -6%;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    margin-top: 20px;
    gap: 10px;
}

.footer li {
    font-weight: 400;
    font-size: 16px;
}

.footer h4 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Raleway';
}

/*============ MEDIA QUERIES TABLETTE ===========*/

@media screen and (max-width: 768px) {
    
    nav {
        justify-content: space-between;
    }
    
    #hebergement {
        flex-direction: column;
    }
    .plus_populaires {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 883px;
        height: 278px;
    }
    .container_pp {
        flex-direction: row;
        width: 252px;
        height: 144px;
    }
    .cardimg_pp img {
        width: 106px;
        height: 144px;
    }

    /*--------------- Partie activités ---------------*/

    #sectionactivites {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .groupe_activites {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 21px;
        box-sizing: border-box;
    }

    .activitescard img {
        border-radius: 20px 20px 0 0;
        width: 182px;
        height: 267px;
        object-fit: cover;
        box-sizing: border-box;
    }

    .description h3 {
        height: 56px;
        width: 182px;
    }

    /*----------- PARTIE FOOTER -------------*/

    #footer {
        width: 879.65px;
        gap: 150px;
    }
}
