* {
    margin: 0;
}

body {
    font-family:'Raleway', sans-serif;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 6px;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:focus {
    color: #0065FC;
}

a:hover {
    color: #0065FC;
}

.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

.container1:hover {
    border-top: solid 2px #0065FC;
}

.container2:hover {
    border-top: #0065FC solid 2px;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 55px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    margin-top: 45px;
}

.menunav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    font-weight: 500;
    margin-right: 67px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    font-weight: 400;
    margin-right: 77px;
}

.section_recherche {
    margin-top: 40px;
}

.titre_section_recherche {
    margin: 15px 0 13px;
}


.localisation {
    background-color:#D9D9D9;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    right: 84.94%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.section_texte {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;

}

.srch_btn_phn {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 15px;
    padding: 15px 16px;
    gap: 10px;

}

#principal {
    margin-left: 55px;
}

.inp_recherche {
    font-family: 'Raleway';
    padding: 19px;
    border: 1px solid #F2F2F2;
    border: 15px;
    border-left:none;
    border-right: none;
    box-sizing: border-box;
    line-height: 21px;
    max-width: 332px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
}

.form {
    margin-top: 23px;
}

.groupe_form {
    display: flex;
    align-items: center;
}


#btn_rsh_desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    
    gap: 10px;

}

.rch_filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    margin-left: 62px;
    margin-top: 15px;
    box-sizing: border-box;
}

.titres {
    display: flex;
    font-size: 18px;
    text-align: center;
    width: 54px;
    height: 21px;

}

.eco_icon {
    color: #0065FC;
    margin-right: 10px;
}

.rch_eco {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: flex-start;
    padding: 4px 20px;
}

.fam_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.rch_fam {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.text_fam {
    font-size: 17px;
}

.rom_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.rch_rom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.animaux_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.rch_animaux {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.result_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.afficher_plus {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    
}

#activitesMarseille {
    margin-top: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.pied_de_page {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin-top: 50px;
}

ul{
    list-style-type: none;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    padding: 70px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* Pour mes test brouillon */

/* CSS pour la partie hébergement à Marseille */

#hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergement {
    background: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    height: 626px;
    top: 42px;
}

.titre_hebergementMarseille {
    width: 278px;
    line-height: 26px;
    left: 40px;
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}



/* Première ligne */
.premiereligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ligne_1 {
    border: 5px solid white;
    background: #ffffff;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    margin-top: 23px;
}

/* Deuxièeme ligne */
.deuxiemeligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ligne_2 {
    border: 5px solid white;
    background: #ffffff;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    margin-top: 30px;
}
/* CSS card de l'hébergement */
.cardimg img {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
}
/* CSS pour les les plus populaires */

.plus_populaires {
    width: 420px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
}

.container_pp img {
    width: 137px;
    height: 144px;
    box-sizing: border-box;
}

/* CSS pour la partie activités */
#sectionactivites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 43px;
    margin-bottom: 60px;
    margin-top: 10px;
}

.titre_activites {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    background-color: white;
    height: 56px;
    width: 302px;
    top: 389px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.description h3 {
    width: 247px;
    height: 15px;
    left: 19px;
    bottom: 20.51px;
    line-height: 19px;
}

.activitescard img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 445px;
    object-fit: cover;
}
