* {
    margin: 0;
}

body {
    font-family:'Raleway', sans-serif;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 6px;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:focus {
    color: #0065FC;
}

a:hover {
    color: #0065FC;
}

.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

.container1:hover {
    border-top: solid 2px #0065FC;
}

.container2:hover {
    border-top: #0065FC solid 2px;
}

.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 55px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
    margin-top: 45px;
}

.menunav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    font-weight: 500;
    margin-right: 67px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    font-weight: 400;
    margin-right: 77px;
}

.hebergnav {
    margin-top: 45px;
}

#location {
    background-color:#D9D9D9;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.srch_btn_phn {
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 15px;
    padding: 15px 16px;
    gap: 10px;

}

#principal {
    margin-left: 55px;
}

.inp_recherche {
    font-family: 'Raleway';
    padding: 0 1.5rem;
    border: 1px solid #F2F2F2;
    border: radius 15px;;
    border-left:none;
    border-right: none;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
}

#recherche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 55px;
    text-align:center;
    margin-top: 20px;
}

#btn_rsh {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    text-align: center;

}

.rch_filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    margin-left: 62px;
    margin-top: 15px;
    box-sizing: border-box;
}

.titres {
    display: flex;
    font-size: 18px;
    text-align: center;
    width: 54px;
    height: 21px;

}

.eco_icon {
    color: #0065FC;
}

.rch_eco {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    align-items: flex-start;
    padding: 4px 20px;
}

.fam_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.rch_fam {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.text_fam {
    font-size: 17px;
}

.rom_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.rch_rom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.animaux_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.rch_animaux {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 20px;
}

.result_icon {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}

.resultatrch {
    display: flex;
    margin-top: 15px;
}

#hebergement {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    background-color: #f4f3f3f3;
}

.hebergementcard {
    background-color: white;
}